[submodule "thankmas-lobby"]
	path = lobby
	url = https://github.com/hugovdev/thankmas-lobby.git
	branch = main
[submodule "build-server"]
	path = build-server
	url = https://github.com/hugovdev/thankmas-build-server.git
	branch = main
[submodule "common"]
	path = common
	url = https://github.com/hugovdev/thankmas-common.git
	branch = main
[submodule "common-paper"]
	path = common-paper
	url = https://github.com/hugovdev/thankmas-paper.git
	branch = main
[submodule "save-the-kweebecs"]
	path = save-the-kweebecs
	url = https://github.com/hugovdev/save-the-kweebecs.git
